.page-title {
  margin: 1.5em 0;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
  color: $main-text-color;
}

.btn-primary {
  background-color: $primary-color;
  border-radius: 2em;
  border: none;
  line-height: 1.5em;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
}

.btn-secondary {
  background-color: $bg-color;
  border-radius: 2em;
  border: none;
}
