/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

/* Color Palette */
$primary-color: #f57b61;
$primary-color-light: #fe8a70;
$secondary-color: #4B4399;
$secondary-color-light: #4b3aa1;
$bg-color: #fedad4;
$main-text-color: #0d1f3c;
$secondary-text-color: #b5bbc9;
$light-button-color: #EDF1F9;
$dark-button-color: #d5d8de;